/*Global variables - Variables globales */
:root {
    --principal-color: #0A3871; 
    --secondary-color: #E5E5E5; 
}

/*Main View - Vista Principal*/

/*Sematic tags - Etiquetas semánticas*/
h1 {
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem; 
    background-color: #73C118;
    border-radius: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 1.5vh;
    max-width: 1200px;
    margin: 0 auto;
}

span {
    margin-right: 1rem;
    height: 2px;
    font-size: 1.5rem;
    font-weight: bold;
}

.containerImages {
    display: flex; 
    justify-content: center;
    flex-direction:column;
}
.containerImages p {
    font-size: 2vw;
    color: rgb(16, 203, 141);
    text-align: center;
}

.containerImages img {
    width: 37%;
    height: auto;
    margin: 0 auto;
    background-color: #31474C;
}

/*Common classes - Clases comunes*/
.logo {
    margin-left: 3vw;
    margin-top: 2vh;
}

.inputNewWord { 
    width: 45%;
    border-style: none;
    margin-bottom: 5rem;
    outline: none;
    font-size: 2vw;
}

.inputNewWord::placeholder {
    color: var(--principal-color);
}

.errorMessages {
    color: rgb(184, 40, 40);
    font-weight: bold;
}

/* Buttons*/
.btn {
    padding: 1.5vw;
    border: thin solid black;
    border-radius: 1.5vw;
    font-size: 1.5vw;
    cursor: pointer;
    width: 15vw;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.btnPrincipal {
    background-color: var(--principal-color);
    color: var(--secondary-color);
    height: 15vh;
}

.btnSecondary {
    background-color: var(--secondary-color);
    color: var(--principal-color);
    height: 10vh;
}

.btnSameSize {
    height: 10vh;
    width: 20vw;
}

/*Displays*/
.dp-flex {
    display: flex;
}

.flex-column { 
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.dp-none {
    display: none;
}

.center-screen { 
    justify-content: center;
    align-items: center;
}

.txt-center {
    text-align: center;
}


/*Containers*/
.containerCanvas {
    width: 100%;
    height: auto; 
}


.containerButtons {
    display: flex;
    gap: 1rem;
}

canvas {
    width: 80%;
    margin: 0 auto;
    background-color: beige;
}

